.todo-list-form {
    display: flex;
    color: rgb(200, 196, 196);
    text-align: center;
    align-items: center;
    justify-content: right;
    background: rgb(239, 238, 238);
    margin: 5px;
    border: 2em;
    padding: 10px;
    max-width: 100%;
    border-radius: 1em;
  }

.chk-label {
  display: flexbox;
  text-align: right;
  margin: auto;
  padding: 2em;
  font-size: small;
  color: rgb(193, 142, 142);

}

.del-btn {
  border-radius: .5em;
  font-size: small;
  color: rgb(182, 117, 117);
}