.todo-list-form {
    display: flex;
    color: rgb(200, 196, 196);
    text-align: center;
    align-items: center;
    justify-content: right;
    background: rgb(231, 230, 230);
    margin: 5px;
    border: 2em;
    padding: 10px;
    max-width: 100%;
    border-radius: 1em;
  }

.chk-label {
  text-align: right;
  margin: auto;
  padding: 1em;
  font-size: small;
  color: rgb(225, 158, 158);
}

.del-btn {
  border-radius: .5em;
  font-size: small;
  color: rgb(221, 161, 161);
  background-color: rgb(221, 214, 214);
}